@import url(https://fonts.google.com/specimen/Figtree);

:root {
    /* primary color */
    --color-primary: hsl(47, 88%, 63%);
    
    /* neutral colors */
    --color-white: hsl(0, 0%, 100%);
    --color-grey: hsl(0, 0%, 50%);
    --color-black: hsl(0, 0%, 7%);

    /* font */
    --font-size-small: 16px;

    --font-weight-bold: 600;
    --font-weight-bold-extra: 800;

    --font-family: 'Figtree', san-serif;

    /* images */
    --image-mobile-width: 80%; 
    --image-mobile-length: 80%;

}

.background__body--color {
    background-color: var(--color-primary);
}

.card {
    background-color: var(--color-white);
    width: 50%;
    /* height: 40vh; */
    font-family: var(--font-family);
    margin: 5rem 5rem 5rem 5rem;


}

/* .card__image {
        
} */

.card__learning {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
}

.card__date-format {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);

}

.card__title {
    font-weight: var(--font-weight-bold-extra);
}

.card__description {
    font-size: var(--font-size-small);
    color: var(--color-grey);

}

.card__author {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
}