@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');

/* page styles */
:root {
    /* primary color */
    --color-primary: hsl(47, 88%, 63%);
    
    /* neutral colors */
    --color-white: hsl(0, 0%, 100%);
    --color-grey: hsl(0, 0%, 50%);
    --color-black: hsl(0, 0%, 7%);

    /* font */
    --font-size-small: 16px;

    --font-weight-regular: 600;
    --font-weight-bold: 800;

    --font-family-main: 'Figtree', sans-serif;

    /* images */
    --image-mobile-width: 80%; 
    --image-mobile-length: 80%;

}

html {
    background-color: var(--color-primary);
}


/* card styles */
.card {
    background-color: var(--color-white);
    font-family: var(--font-family-main);
    width: 20rem;
    margin: 5rem 5rem 5rem 5rem;
    padding: 2rem 3rem 2rem 2rem;
}

.card__section--center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__section--shadow { 
    box-shadow: 10px 10px 0 var(--color-black);
} 

.card__section--bevel {
    border-radius: 5%;
}

.card__section--outline {
    outline: 1px solid var(--color-black);
}

.card__image--bevel {
    border-radius: 5%;
}

/* text styles */
.card__learning {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold-extra);
    
}

.card__learning--background-yellow {
    background-color: var(--color-primary);
}

.card__learning--dimensions {
    width: 4rem;
    padding: 0.5rem 1rem;
    border-radius: 10%;
    margin-top: 1.5rem;
}

.card__date-format {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);

}

.card__title {
    font-weight: var(--font-weight-bold-extra);
}


.card__description--line-height {
    line-height: 150%;
}

.card__description--grey {
    font-size: var(--font-size-small);
    color: var(--color-grey);

}

/* author style */
.card__author {
    display: flex;
    justify-content: left;
    align-items: center;    
}

.card__author--img{
    width: 12%;
    padding: 0rem 0.5rem 0 0;
}

.card__author--name {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
}


/* credits */
.attribution { 
    font-size: 11px; text-align: center;
 }

.attribution a {
    color: hsl(228, 45%, 44%); 
}